@model ProductViewModel
@{
    ViewData["Title"] = "Anasayfa";
}


<div class="card card-body align-items-center justify-content-center ">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    @* Kategorileri eklemek için SelectList kullanıldı. *@
                    <select name="category" class="form-select"
                    asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name", Model.SelectedCategory))">
                        <option value="0">Hepsi</option>
                    </select>
                </div>
                <div class="col-md-11">
                    <button class="btn btn-primary">
                        Filtrele
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<table class="table table-sm w-100 text-center mx-auto table-bordered table-striped">
    <thead>
        <tr>
            @* İlgili Product sayfasında yer alan Display(Name) özelliği kullanılarak tablo başlıkları doğrudan buraya geliyor *@
            <th>@Html.DisplayNameFor(m => m.Products[0].ProductId)</th>
            <th>@Html.DisplayNameFor(m => m.Products[0].Name)</th>
            <th>@Html.DisplayNameFor(m => m.Products[0].Price)</th>
            <th style="width: 50px">@Html.DisplayNameFor(m => m.Products[0].Image)</th>
            <th>@Html.DisplayNameFor(m => m.Products[0].IsActive)</th>
            <th>@Html.DisplayNameFor(m => m.Products[0].CategoryId)</th>
            <th>Düzenle</th>
        </tr>
    </thead>

    <tbody class="align-middle">
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.Name</td>
                <td>@item.Price TL</td>
                <td><img src="/img/@item.Image" alt="@item.Image" class="img-fluid" /></td>
                <td>@item.IsActive</td>
                <td>@item.CategoryId</td>
                <td>
                    <a href="" class="btn btn-sm btn-primary">Edit</a>
                    <a href="" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-sm btn-primary" asp-controller="home" asp-action="create">Create</a>